{% extends "crossref/deposit_base.html" %}
{# Crossref deposit page for a component group (view: ComponentGroupDepositView). Shared markup: partials/_deposit_page.html #}

{% block title %}Crossref deponovanje - {{ component_group }} - DOI Portal{% endblock %}

{% block content %}
{% url 'components:group-detail' component_group.pk as back_url %}
{% url 'components:group-list' as list_url %}
{% url 'crossref:component-group-validate' component_group.pk as validate_url %}
{% url 'crossref:component-group-generate' component_group.pk as generate_url %}
{% url 'crossref:component-xml-preview' component_group.pk as preview_url %}
{% url 'crossref:component-xml-download' component_group.pk as download_url %}
{% url 'crossref:component-download-warning' component_group.pk as download_warning_url %}
{% url 'crossref:component-export-history' component_group.pk as history_url %}
{% url 'crossref:component-mark-deposited' component_group.pk as mark_url %}
{% include "crossref/partials/_deposit_page.html" with obj=component_group object_label=component_group back_label="Nazad na grupu" list_label="Sve grupe komponenti" summary_title="Informacije o grupi" summary_template="crossref/partials/_component_summary.html" %}
{% endblock content %}
