{% extends "crossref/deposit_base.html" %}
{# Crossref deposit page for an issue (view: CrossrefDepositView). Shared markup: partials/_deposit_page.html #}

{% block title %}Crossref deponovanje - {{ issue }} - DOI Portal{% endblock %}

{% block content %}
{% url 'issues:detail' issue.pk as back_url %}
{% url 'issues:list' as list_url %}
{% url 'crossref:issue-validate' issue.pk as validate_url %}
{% url 'crossref:issue-generate' issue.pk as generate_url %}
{% url 'crossref:xml-preview' issue.pk as preview_url %}
{% url 'crossref:xml-download' issue.pk as download_url %}
{% url 'crossref:download-warning' issue.pk as download_warning_url %}
{% url 'crossref:export-history' issue.pk as history_url %}
{% url 'crossref:mark-deposited' issue.pk as mark_url %}
{% include "crossref/partials/_deposit_page.html" with obj=issue object_label=issue back_label="Nazad na izdanje" list_label="Sva izdanja publikacije" summary_title="Informacije o izdanju" summary_template="crossref/partials/_issue_summary.html" list_filter_name="publication" list_filter_value=issue.publication.pk %}
{% endblock content %}
