{% extends "crossref/deposit_base.html" %}
{# Crossref deposit page for a monograph (view: MonographDepositView). Shared markup: partials/_deposit_page.html #}

{% block title %}Crossref deponovanje - {{ monograph.title }} - DOI Portal{% endblock %}

{% block content %}
{% url 'monographs:detail' monograph.pk as back_url %}
{% url 'monographs:list' as list_url %}
{% url 'crossref:monograph-validate' monograph.pk as validate_url %}
{% url 'crossref:monograph-generate' monograph.pk as generate_url %}
{% url 'crossref:monograph-xml-preview' monograph.pk as preview_url %}
{% url 'crossref:monograph-xml-download' monograph.pk as download_url %}
{% url 'crossref:monograph-download-warning' monograph.pk as download_warning_url %}
{% url 'crossref:monograph-export-history' monograph.pk as history_url %}
{% url 'crossref:monograph-mark-deposited' monograph.pk as mark_url %}
{% include "crossref/partials/_deposit_page.html" with obj=monograph object_label=monograph.title back_label="Nazad na monografiju" list_label="Sve monografije" summary_title="Informacije o monografiji" summary_template="crossref/partials/_monograph_summary.html" %}
{% endblock content %}
