<?xml version="1.0" encoding="UTF-8"?>
<doi_batch xmlns="http://www.crossref.org/schema/5.4.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jats="http://www.ncbi.nlm.nih.gov/JATS1"
           xmlns:ai="http://www.crossref.org/AccessIndicators.xsd"
           xsi:schemaLocation="http://www.crossref.org/schema/5.4.0 https://www.crossref.org/schemas/crossref5.4.0.xsd"
           version="5.4.0">
  <head>
    <doi_batch_id>{{ head.doi_batch_id }}</doi_batch_id>
    <timestamp>{{ head.timestamp }}</timestamp>
    <depositor>
      <depositor_name>{{ head.depositor_name }}</depositor_name>
      <email_address>{{ head.depositor_email }}</email_address>
    </depositor>
    <registrant>{{ head.registrant }}</registrant>
  </head>
  <body>
    <conference>
      <event_metadata>
        <conference_name>{{ publication.conference_name }}</conference_name>
        {% if publication.conference_acronym %}
        <conference_acronym>{{ publication.conference_acronym }}</conference_acronym>
        {% endif %}
        {% if publication.conference_number %}
        <conference_number>{{ publication.conference_number }}</conference_number>
        {% endif %}
        {% if publication.conference_date %}
        <conference_date start_month="{{ publication.conference_date|format_date('%m') }}" start_year="{{ publication.conference_date|format_date('%Y') }}" start_day="{{ publication.conference_date|format_date('%d') }}"{% if publication.conference_date_end %} end_month="{{ publication.conference_date_end|format_date('%m') }}" end_year="{{ publication.conference_date_end|format_date('%Y') }}" end_day="{{ publication.conference_date_end|format_date('%d') }}"{% endif %}/>
        {% endif %}
        {% if publication.conference_location %}
        <conference_location>{{ publication.conference_location }}</conference_location>
        {% endif %}
      </event_metadata>
      <proceedings_metadata language="{{ publication.language }}">
        <proceedings_title>{{ issue.proceedings_title|default(publication.title, true) }}</proceedings_title>
        <publisher>
          <publisher_name>{{ issue.proceedings_publisher_name|default(publisher.name, true) }}</publisher_name>
          {% if issue.proceedings_publisher_place %}
          <publisher_place>{{ issue.proceedings_publisher_place }}</publisher_place>
          {% endif %}
        </publisher>
        {% if issue.publication_date %}
        <publication_date media_type="online">
          <month>{{ issue.publication_date|format_date('%m') }}</month>
          <day>{{ issue.publication_date|format_date('%d') }}</day>
          <year>{{ issue.year }}</year>
        </publication_date>
        {% else %}
        <publication_date media_type="online">
          <year>{{ issue.year }}</year>
        </publication_date>
        {% endif %}
        {% if publication.isbn_print %}
        <isbn media_type="print">{{ publication.isbn_print }}</isbn>
        {% endif %}
        {% if publication.isbn_online %}
        <isbn media_type="electronic">{{ publication.isbn_online }}</isbn>
        {% endif %}
      </proceedings_metadata>
      {% for article in articles %}
      <conference_paper publication_type="{{ article.publication_type }}">
        <titles>
          <title>{{ article.title }}</title>
          {% if article.subtitle %}
          <subtitle>{{ article.subtitle }}</subtitle>
          {% endif %}
        </titles>
        {% if article.authors %}
        <contributors>
          {% for author in article.authors %}
          <person_name sequence="{{ author.sequence }}" contributor_role="{{ author.contributor_role }}">
            {% if author.given_name %}
            <given_name>{{ author.given_name }}</given_name>
            {% endif %}
            <surname>{{ author.surname }}</surname>
            {% if author.suffix %}
            <suffix>{{ author.suffix }}</suffix>
            {% endif %}
            {% if author.orcid %}
            <ORCID{% if author.orcid_authenticated %} authenticated="true"{% endif %}>{{ author.orcid|format_orcid_url }}</ORCID>
            {% endif %}
            {% if author.affiliations %}
            <affiliations>
              {% for aff in author.affiliations %}
              <institution>
                <institution_name>{{ aff.institution_name }}</institution_name>
                {% if aff.institution_ror_id %}
                <institution_id type="ror">{{ aff.institution_ror_id }}</institution_id>
                {% endif %}
              </institution>
              {% endfor %}
            </affiliations>
            {% endif %}
          </person_name>
          {% endfor %}
        </contributors>
        {% endif %}
        {% if article.abstract %}
        <jats:abstract>
          <jats:p>{{ article.abstract }}</jats:p>
        </jats:abstract>
        {% endif %}
        {% if issue.publication_date %}
        <publication_date media_type="online">
          <month>{{ issue.publication_date|format_date('%m') }}</month>
          <day>{{ issue.publication_date|format_date('%d') }}</day>
          <year>{{ issue.year }}</year>
        </publication_date>
        {% else %}
        <publication_date media_type="online">
          <year>{{ issue.year }}</year>
        </publication_date>
        {% endif %}
        {% if article.first_page and article.last_page %}
        <pages>
          <first_page>{{ article.first_page }}</first_page>
          <last_page>{{ article.last_page }}</last_page>
        </pages>
        {% elif article.article_number %}
        <publisher_item>
          <item_number item_number_type="article_number">{{ article.article_number }}</item_number>
        </publisher_item>
        {% endif %}
        {% if article.license_url %}
        <ai:program name="AccessIndicators">
          <ai:license_ref{% if article.license_applies_to %} applies_to="{{ article.license_applies_to }}"{% endif %}>{{ article.license_url }}</ai:license_ref>
          {% if article.free_to_read %}
          <ai:free_to_read{% if article.free_to_read_start_date %} start_date="{{ article.free_to_read_start_date|format_date('%Y-%m-%d') }}"{% endif %}/>
          {% endif %}
        </ai:program>
        {% endif %}
        <doi_data>
          <doi>{{ publisher.doi_prefix }}/{{ article.doi_suffix }}</doi>
          <resource>https://doi.org/{{ publisher.doi_prefix }}/{{ article.doi_suffix }}</resource>
        </doi_data>
      </conference_paper>
      {% endfor %}
    </conference>
  </body>
</doi_batch>
